@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 30px 100px 0 50px;
    background-color: #0d1115;
}

.font {
    font-family: "Roboto";
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.title {
    color: #c0bdbc;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.title-icon {
    height: 1em;
    width: auto;
    display: inline-block;
}

.sub-title {
    color: #8d8988;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 15px;
    padding:  10px 0 0 0;
    margin: 0;
}

.top-bar {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.top-button {
    cursor: pointer;
    background-color: #101418;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #1c2024;
    padding: 0;
    color: #c0bdbc;
}
.top-button * {
    font-size: 20px;
}

.outer-div {
    margin-top: 40px;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
}

.inner-left {
    display: flex;
    height: 100%;
    width: 80%;
    margin-right: 20px;
    flex-direction: column;
}
.inner-right {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
}

.resources-container, .misc-container {
    width: 100%;
    height: 50%;
    background-color: #101418;
    border: 2px solid #1c2024;
    border-radius: 10px;
}