@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
    margin: 30px 100px 0 50px;
    background-color: #0d1115;
}

.font {
    font-family: "Roboto";
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.title {
    color: #c0bdbc;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 30px;
    margin: 0;
    padding: 0;
}
.title-icon {
    height: 1em;
    width: auto;
    display: inline-block;
}

.sub-title {
    color: #8d8988;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 15px;
    padding:  10px 0 0 0;
    margin: 0;
}

.top-bar {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}

.top-button {
    cursor: pointer;
    background-color: #101418;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #1c2024;
    padding: 0;
    color: #c0bdbc;
}
.top-button * {
    font-size: 20px;
}

.outer-div {
    margin-top: 40px;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
}

.inner-left {
    display: flex;
    height: 120%;
    width: 80%;
    margin-right: 20px;
    flex-direction: column;
}
.inner-right {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
}

.resources-container, .misc-container {
    width: 100%;
    height: 50%;
    background-color: #101418;
    border: 2px solid #1c2024;
    border-radius: 10px;
    margin-bottom: 20px;
}

.misc-container {
    height: 90% !important;
    overflow-y: auto;
}

.tab-button {
    background: none;
    border: none;
    color: #8d8988;
    padding: 0;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.25s ease;
}

.tab-switcher {
    display: flex;
    position: relative;
    border-bottom: 2px solid #1c2024;
}

.tab-underline {
    position: absolute;
    bottom: 10px;
    height: 2px;
    background-color: #8d8988;
    transition: left 0.25s ease, width 0.25s ease;
}

.resources-title-icon {
    height: 1.25em;
    width: auto;
    display: inline-block;
    margin-right: 10px;
}

.resources-title {
    margin-right: 30px;
    color: #c0bdbc;
    font-size: 25px;
    display: flex;
    align-items: center;
}

.resources-entry {
    margin: 25px 0 0 30px;
    display: flex;
    align-items: center;
}

.resources-entry input {
    padding-right: 10px;
    height: 1.25em;
    background-color: #101418;
    border: 2px solid #1c2024;
    border-radius: 5px;
    color: #c0bdbc;
    width: 100px;
    text-align: right;
    font-size: 20px;
}

.single-title {
    margin: 10px;
    color: #8d8988;
}

.image-showcase > img {
    height: 3em;
    margin-right: 10px;
}

.image-showcase button {
    cursor: pointer;
    margin-right: 10px;
    background: none;
    border: none;
    color: #c0bdbc;
    font-size: 30px;
}

.ability {
    cursor: pointer;
    width: 150px;
    height: 200px;
    background-color: #101418;
    border: 2px solid #1c2024;
    border-radius: 10px;
    transition: background-color 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ability img {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    transition: filter 0.25s ease-in-out;
}

.ability p {
    font-family: "Roboto";
    font-weight: bolder;
    font-size: 17px;
    color: #c0bdbc;
}

.ability-image {
    width: 150px;
}

.ability-container {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
}

.boss-img {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boss-img img {
    max-height: 130px;
    max-width: 100%;
    object-fit: contain;
}

.grid-break {
    grid-column: 1 / -1;
}